
.containers{
    text-align: center;
    align-items: center;
    display: flex;
    margin-left: 30%;
}
.heading{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn{
    background-color: green;
    border: none;
    padding: 10px 10px;
    font-size: 15px;
    cursor: pointer;
    color: wheat;
    font-weight:700;
    border-radius: 12px;
    margin-bottom: 40px;

}
.btn2{
    background-color: green;
    border: none;
    padding: 10px 10px;
    font-size: 15px;
    cursor: pointer;
    color: wheat;
    font-weight:700;
    border-radius: 12px;
    margin-left: 30px;
    margin-bottom: 40px;
}
.para{
    font-size: 20px;
}
.par{
    font-size: 22px;
    color: red;
    font-weight: 800;
}
.h3tag{
    font-size: 25px;
    font-weight: 800;
    padding:20px 15px ;
}
.read{
    font-size: 22px;
    color: red;
    font-weight: 800;
}

.d-block.w-90.size{
    height: 400px;
    width: 600px; 
}
@media (max-width: 767px) {
    .flex{
        display: flex;
        flex-direction: row;
        justify-content: center !important;
    }
     .containers{
        text-align: center;
        align-items: center;
        justify-content: center !important;
        display: flex;
        margin-right: 20px;
        margin-left: 10px;
    }
    .heading{
        font-size: 15px;
        font-weight: 600;
        text-align: center;
    }
    .btn{
        background-color: green;
        border: none;
        padding: 5px 5px;
        font-size: 15px;
        cursor: pointer;
        color: wheat;
        font-weight:700;
        border-radius: 12px;
        margin-bottom: 40px;
    
    }
    .btn2{
        background-color: green;
        border: none;
        padding: 10px 10px;
        font-size: 15px;
        cursor: pointer;
        color: wheat;
        font-weight:700;
        border-radius: 12px;
        margin-left: 30px;
        margin-bottom: 40px;
    }
    .para{
        font-size: 20px;
    }
    .par{
        font-size: 22px;
        color: red;
        font-weight: 800;
    }
    .h3tag{
        font-size: 18px;
        font-weight: 800;
        padding:20px 15px ;
    }
    .read{
        font-size: 22px;
        color: red;
        font-weight: 800;
    }
    
    .d-block.w-90.size{
        height: 200px;
        width:100% !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    

}
@media (max-width: 575px) {
    .para{
        font-size: 15px;
    }
    .h3tag{
        font-size: 17px;
        font-weight:700;
        padding:20px 15px ;
    }

}